/*!
=========================================================
* The Mobi Landing Page
=========================================================

* Copyright: 2023
* Code by Nyasha Tanganyika

-----------------------------------------------------------
Table of Contents
===========================================================
    1. Reset , Font Awsome & Typography 
    2. Nav & Hero
    3. About Us

--------------------------------------------------------

=========================================================

*/
/* ------------------------------
    1. Reset & Font Awsome
------------------------------ */
@import url("assets/scss/reset/reboot");
@import url("assets/fontawsome/fontawesome");
* {
  outline: 0px solid blue;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Oswald";
  src: url("/assests/fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: "OswaldBold";
  src: url("/assests/fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("/assests/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Renner";
  src: url("/assests/fonts/Renner-Book.ttf");
}
@font-face {
  font-family: "RennerBold";
  src: url("/assests/fonts/Oswald-Bold.ttf");
}
/* ------------------------------
    2. Nav & Hero
------------------------------ */
nav .navbar-brand img {
  width: 170px;
  height: 170px;
}
nav #navbarNav {
  margin: 0 0 0 35%;
}
nav #navbarNav .navbar-nav {
  margin: 0 0 17px 0;
}
nav #navbarNav .navbar-nav .nav-item a {
  font-family: "Raleway";
  color: black;
  font-size: 20px;
  margin: 0 0 0 20px;
}
nav #navbarNav .navbar-nav .nav-item .active {
  color: rgb(255, 127, 0);
}
nav #navbarNav .navbar-nav .nav-item a:hover {
  color: rgb(255, 127, 0);
}

.hero {
  padding: 0 0 400px 0;
}
.hero .innerHero h1 {
  font-family: "RennerBold";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 145px;
  margin: 20% 0 0 0;
}
.hero .innerHero h1 span {
  color: rgb(255, 127, 0);
}
.hero .innerHero .secInnerHero img {
  margin: 5% 0 0 -20%;
  max-width: 131%;
  height: auto;
}

.aboutUs {
  padding: 50px 0 100px 0;
  background-color: black;
}
.aboutUs .innerAbout .secInnerAbout p {
  margin: 11.3% 0 0 0;
}
.aboutUs .innerAbout .secInnerAbout .firstImg img {
  padding: 25% 0 0% 15%;
}
.aboutUs .thirdInnerAbout {
  margin: -14% 0 0 0;
}
.aboutUs .thirdInnerAbout .Jumbotron {
  background-color: rgb(255, 127, 0);
  font-family: "Renner";
}
.aboutUs .thirdInnerAbout .Jumbotron .innerJumbotron {
  padding: 10%;
}
.aboutUs .thirdInnerAbout .Jumbotron h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 54px;
}
.aboutUs .miniJumbo .miniJumbotron {
  width: 100%;
  height: 150px;
}
.aboutUs .thirdMiniJumbo .thirdMiniJumbotron {
  background-color: rgb(255, 127, 0);
  width: 100%;
  height: 150px;
}
.aboutUs .thirdMiniJumbo .thirdMiniJumbotron .progbar {
  margin: 6% 0;
}
.aboutUs .thirdMiniJumbo .thirdMiniJumbotron a {
  color: white;
  margin-left: 80%;
}

.aims {
  padding: 10% 0;
}
.aims .innerAims .secInnerAims .aimsImg img {
  height: 95%;
  width: 100%;
}
.aims .innerAims .secInnerAims .thirdAims h2 {
  font-family: "OswaldBold";
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.05em;
  width: 100%;
  color: rgb(255, 127, 0);
}
.aims .innerAims .secInnerAims .thirdAims p {
  font-family: "Renner";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
}

.secAims {
  background-color: black;
  padding: 10% 0;
}
.secAims .secInnerAims .thirdInnerAims .jumbotron {
  background-color: rgb(255, 127, 0);
  font-family: "Renner";
  width: 90%;
  padding: 5% 0 10% 0;
}
.secAims .secInnerAims .thirdInnerAims .jumbotron img {
  margin-left: 65%;
}
.secAims .secInnerAims .thirdInnerAims .jumbotron .innerJumbotron {
  margin-left: 8%;
}
.secAims .secInnerAims .thirdInnerAims .jumbotron .innerJumbotron h3 {
  font-family: "Renner";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  width: 90%;
}
.secAims .secInnerAims .thirdInnerAims .jumbotron .innerJumbotron h3 span {
  color: white;
}
.secAims .secInnerAims .thirdInnerAims .jumbotron .innerJumbotron h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: white;
}
.secAims .secInnerAims .thirdInnerAims .innerSecAims h2 {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgb(255, 127, 0);
}
.secAims .secInnerAims .thirdInnerAims .innerSecAims p {
  font-family: "Renner";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.donate {
  padding: 10% 0;
}
.donate .innerDonate .secInnerDonate {
  padding: 0 15%;
}
.donate .innerDonate .thirdInnerDonate h2 {
  color: rgb(255, 127, 0);
  font-family: "Renner";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 142px;
  letter-spacing: -0.02em;
  width: 100%;
}
.donate .innerDonate .thirdInnerDonate h3 {
  font-family: "Renner";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 30px;
}
.donate .innerDonate .thirdInnerDonate p {
  font-family: "Renner";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.donate .innerDonate .brandLogo .innerBrandLogos .logos, .donate .innerDonate .secBrandLogo .innerBrandLogos .logos {
  margin-top: 10%;
}

footer {
  background-color: black;
  padding: 5% 0;
}
footer .innerFooter h6 {
  font-family: "Renner";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer .innerFooter .quickLinks {
  margin-left: 35%;
}
footer .innerFooter .quickLinks ul {
  margin-left: -11.8%;
}
footer .innerFooter .quickLinks ul li {
  list-style: none;
  margin-left: 10px;
}
footer .innerFooter .quickLinks ul li a {
  color: white;
  font-family: "Renner";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
}
footer .innerFooter .quickLinks ul li a:hover {
  color: rgb(255, 127, 0);
}
footer .innerFooter .copyright {
  margin: 4% 0 0 0;
}
footer .innerFooter .copyright p {
  font-family: "Renner";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
}
footer .innerFooter .copyright p a {
  color: #FFFFFF;
  margin-left: 10px;
}
footer .innerFooter .copyright p a:hover {
  color: rgb(255, 127, 0);
}

@media (min-width: 411px) and (max-width: 768px) {
  .hero {
    padding: 0 0 5% 0;
  }
  .hero .navbar .innerNav #navbarNav {
    margin: 0;
  }
  .hero .navbar .innerNav #navbarNav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .hero .innerHero .secInnerHero h1 {
    width: 100%;
    margin: 0;
  }
  .hero .innerHero .secInnerHero img {
    width: 130%;
    margin: 0 0 0 -43px;
  }
  .aboutUs .innerAbout .secInnerAbout .thirdInnerAbout {
    margin: 0;
  }
  .aboutUs .innerAbout .secInnerAbout .thirdInnerAbout .Jumbotron h2 {
    padding: 0;
  }
  .aboutUs .innerAbout .secInnerAbout .firstImg img {
    padding: 0;
  }
  .aboutUs .innerAbout .secInnerAbout .firstImg .thirdMiniJumbotron {
    height: auto;
  }
  .aboutUs .innerAbout .secInnerAbout .firstImg .thirdMiniJumbotron .innerjumbo .secInnerJumbo .jumboText h3 {
    margin: 0 0 10% 0;
  }
  .aboutUs .innerAbout .secInnerAbout .firstImg .thirdMiniJumbotron .innerjumbo .secInnerJumbo .jumboText a {
    margin: 5% 0 0 0;
  }
  .secAims .secInnerAims .thirdInnerAims .Jumbo .jumbotron {
    width: 100%;
  }
  .secAims .secInnerAims .thirdInnerAims .innerSecAims {
    margin: 5% 0 0 0;
  }
  .donate .innerDonate .secInnerDonate .thirdInnerDonate h2 {
    margin: 0 0 5% 0;
  }
  .donate .innerDonate .secInnerDonate .thirdInnerDonate h3 {
    width: 100%;
    font-size: 19px;
    margin: 0 0 5% 0;
  }
  .donate .innerDonate .secInnerDonate .thirdInnerDonate p {
    font-size: 15px;
  }
  footer {
    padding: 5% 0 100px 0;
  }
  footer .innerFooter .innerContact {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  footer .innerFooter .innerContact p {
    font-size: 13px;
  }
  footer .innerFooter .innerContact .quickLinks {
    margin: 0;
    text-align: center;
  }
  footer .innerFooter .innerContact .quickLinks h6 {
    margin: 3% 0 0 0;
  }
  footer .innerFooter .innerContact .quickLinks ul {
    margin: 0 0 0 -44px;
  }
  footer .innerFooter .innerContact .quickLinks ul li {
    margin-left: 10px;
  }
  footer .innerFooter .innerContact .quickLinks ul li a {
    font-size: 15px;
  }
  footer .innerFooter .copyright {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    padding: 0 0 96px 0;
  }
  .hero nav #navbarNav {
    margin: 0;
  }
  .hero nav #navbarNav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero .innerHero .secInnerHero h1 {
    font-size: 70px;
    line-height: 1.5;
    margin: 39px 0 0 0;
  }
  .aboutUs .innerAbout .secInnerAbout .thirdInnerAbout .Jumbotron .innerJumbotron h2 {
    line-height: 1.5;
    font-size: 22px;
    font-weight: bold;
  }
  .aboutUs .innerAbout .secInnerAbout .thirdInnerAbout .Jumbotron .innerJumbotron p {
    margin: -25px 0 0 0;
  }
  .aboutUs .innerAbout .secInnerAbout .thirdInnerAbout p {
    margin: 0;
  }
  .aboutUs .innerAbout .secInnerAbout .firstImg img {
    padding: 0;
  }
  .aboutUs .innerAbout .secInnerAbout .abtpy {
    margin: -58px 0 0 0;
  }
  .aims .innerAims .secInnerAims .aimsImg img {
    width: 100%;
  }
  .secAims .secInnerAims .thirdInnerAims .jumbotron {
    width: 100%;
  }
  .secAims .secInnerAims .thirdInnerAims .jumbotron .innerJumbotron h3 {
    margin: -31px 0 0 0;
    width: 100%;
  }
  .secAims .secInnerAims .thirdInnerAims .innerSecAims h2 {
    margin: 5% 0 0 0;
  }
  .secAims .secInnerAims .thirdInnerAims .innerSecAims .pt-3 p {
    width: 100%;
  }
  .donate .innerDonate .thirdInnerDonate h2 {
    font-size: 57px;
    line-height: 1.5;
    padding: 60px 0 0;
  }
  .donate .innerDonate .thirdInnerDonate h3 {
    width: 140%;
    font-size: 25px;
    line-height: 1;
  }
  footer {
    padding: 5% 0 51% 0;
  }
  footer .innerFooter .innerContact {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .innerFooter .innerContact .quickLinks {
    margin: 0;
  }
  footer .innerFooter .innerContact .quickLinks h6 {
    margin: 0;
  }
  footer .innerFooter .innerContact .quickLinks ul li a {
    font-size: 15px;
  }
  footer .innerFooter .copyright {
    display: flex;
    flex-direction: row;
  }
  footer .innerFooter .copyright p {
    font-size: 14px;
  }
}/*# sourceMappingURL=themobi.css.map */