/*!
=========================================================
* The Mobi Landing Page
=========================================================

* Copyright: 2023
* Code by Nyasha Tanganyika

-----------------------------------------------------------
Table of Contents
===========================================================
    1. Reset , Font Awsome & Typography 
    2. Nav & Hero
    3. About Us

--------------------------------------------------------

=========================================================

*/
/* ------------------------------
    1. Reset & Font Awsome
------------------------------ */
@import url("assets/scss/reset/reboot");
@import url("assets/fontawsome/fontawesome");
* {
  outline: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "Oswald";
  src: url("/assests/fonts/Oswald-Regular.ttf");
}
@font-face {
  font-family: "OswaldBold";
  src: url("/assests/fonts/Oswald-Bold.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("/assests/fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Renner";
  src: url("/assests/fonts/Renner-Book.ttf");
}
@font-face {
  font-family: "RennerBold";
  src: url("/assests/fonts/Oswald-Bold.ttf");
}
/* ------------------------------
    2. Nav & Hero
------------------------------ */
nav .navbar-brand img {
  width: 170px;
  height: 170px;
}
nav #navbarNav .navbar-nav {
  margin: 0 0 17px 0;
}
nav #navbarNav .navbar-nav .nav-item a {
  font-family: "Raleway";
  color: black;
  font-size: 20px;
}
nav #navbarNav .navbar-nav .nav-item .active {
  color: rgb(255, 127, 0);
}
nav #navbarNav .navbar-nav .nav-item a:hover {
  color: rgb(255, 127, 0);
}

.hero {
  padding: 0 0 400px 0;
}
.hero .innerHero h1 {
  font-family: "Renner-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 145px;
  margin: 20% 0 0 0;
}
.hero .innerHero h1 span {
  color: rgb(255, 127, 0);
}
.hero .innerHero .col-md-6 img {
  margin: 5% 0 0 -20%;
  max-width: 131%;
  height: auto;
}

.aboutUs {
  padding: 50px 0 100px 0;
  background-color: black;
}
.aboutUs .innerAbout {
  margin: -14% 0 0 0;
}
.aboutUs .innerAbout .Jumbotron {
  background-color: rgb(255, 127, 0);
  font-family: "Renner";
  padding: 10% 0;
}
.aboutUs .innerAbout .Jumbotron h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}
.aboutUs .col-md-6 .thirdMiniJumbotron {
  background-color: rgb(255, 127, 0);
}

.aims {
  padding: 10% 0;
}
.aims .container .row .col-md-3 img {
  height: 95%;
}
.aims .container .row .col-md-12 h2 {
  font-family: "OswaldBold";
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.05em;
  width: 100%;
  color: rgb(255, 127, 0);
}
.aims .container .row .col-md-12 p {
  font-family: "Renner";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
}

.secAims {
  background-color: black;
  padding: 10% 0;
}
.secAims .container .row .jumbotron {
  background-color: rgb(255, 127, 0);
  font-family: "Renner";
  padding: 10% 0;
}
.secAims .container .row .jumbotron .container h3 span {
  color: white;
}

.donate {
  padding: 10% 0;
}
.donate .container .innerDonate {
  padding: 0 15%;
}
.donate .container .col-md-6 h2 {
  color: rgb(255, 127, 0);
  font-family: "Renner";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 142px;
  letter-spacing: -0.02em;
  width: 100%;
}
.donate .container .col-md-6 h3 {
  font-family: "Renner";
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 30px;
}
.donate .container .col-md-6 p {
  font-family: "Renner";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.donate .container .brandLogo .col-md-2 .logos, .donate .container .secBrandLogo .col-md-2 .logos {
  margin-top: 10%;
}

footer {
  background-color: black;
  padding: 5% 0;
}/*# sourceMappingURL=themobi.css.map */